aiohttp==3.6.2
altgraph==0.17
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
curlify==2.2.1
dynaconf==3.1.2
export==0.1.2
idna==2.10
mock==4.0.2
multidict==4.7.6
pycountry==20.7.3
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
requests==2.24.0
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.25.10
yarl==1.6.0
